.examples {
  width: 100%;
  background-color: $bg-color-tertiary;
}

.examples__title {
    @include title(36px, 40px);
  }

.examples__number {
  @include title(24px, 24px);
  text-transform: uppercase;
}

.examples__detail {
  font-size: 12px;
  line-height: 12px;
}

.examples__outcome {
  @include title(14px, 20px);
  text-transform: uppercase;
}

