.main-navigation {
  width: 100%;
}

.main-navigation__list {
  @include no-list-style;
  @include no-margin-padding;
  width: 100%;
}

.main-navigation__item {
  @include title (20px, 20px, $title-color-dark);
  text-transform: uppercase;
  text-align: center;
}

.main-navigation__link {
  display: block;
  width: 100%;
  padding: 22px 50px 24px;
  border-top: 1px solid $border-color-tertiary;
  border-bottom: 1px solid $border-color-tertiary;
}

.main-navigation__toggle {
  @include flex-center;
  cursor: pointer;

  .burger {
    width: 24px;
    height: 24px;
  }

  // .main-navigation__toggle.is-open .burger use {
  //   href: "../../../build/icons/stack.svg#close.svg"
  // }
}

