.programs {
  width: 100%;

  .programs__title {
    @include title(24px, 37px);
    text-transform: uppercase;

    &--cat-seat::before {
      content: "";
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url("../../../build/icons/stack.svg#cat-seat");
      background-size: contain;
      background-position: center;
      border-radius: 50%;
      background-color: $brand-color-primary;
    }

    &--cat-go::before {
      content: "";
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url("../../../build/icons/stack.svg#cat-go");
      background-size: contain;
      background-position: center;
      border-radius: 50%;
      background-color: $brand-color-primary;
    }
  }

  .programs__description {
    font-size: 14px;
    color: $text-color-primary;
  }

  .programs__list {
    @include no-list-style;
  }

  .programs__item {
    background-color: $bg-color-secondary;
  }
}

